@charset "UTF-08";

*{
    margin: 0;
    padding: 0;

}

header{
    background-image:linear-gradient(to top, #1A5C38, #3BD47F);
    color: white;
    padding: 20px 0;
    height: 160px;
   
}
header > h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
}
header > p{
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}
.menu > a{
   justify-content: start;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
}
.menu{
  
    padding-left: 10px;
}
main{
     background-color: #84E1AD;
    
   
}
.seção1{
    background-color: white;
    margin: auto;
    width: 850px;
    height:1380px;
    text-align: center;
   
}
@font-face {
    font-family:'love' ;
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

    
h2{
    font-family:'love';

}
.seção1 > h1{
    font-family:'love'; 
    color:#357250 ;
    text-align: left;
    padding: 10px 20px;
    
}
p{
    text-align: justify;
    margin: 20px 20px;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.seção1 > h2{
    font-family:'love'; 
    color:#357250 ;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-left:5px;
    background-image: linear-gradient(to right, #8ff5bd, rgba(255, 255, 255, 0.63));
    background-color: #DBF3E6;
   
}
.video{
    background-color:#1A5C38 ;
    width: 850px;
    height: 350px;
    margin: auto;

}
.video > iframe{
    padding-left: 150px;
    padding-top: 20px;
}
.seção2{
    background-color: white;
    width: 850px;
    margin: auto;
    padding-top: 20px;
    border-radius: 0 0 5px 5px;
   
}

.seção3 > h3{
    padding-top: 30px;
   padding-left:20PX ;
   padding-bottom: 30px;
   background-color: #3BD47F;
   margin-left: 20px;
   margin-right: 20px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   
   border-radius:5px 5px 0 0 ;
}

ul{
    list-style: square;
    margin-left: 30px;
}
.seção4{
    background-color: #C5EBD6;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 0 0 5px 5px;
    
}
.seção4 > ul{
    font-family: Arial, Helvetica, sans-serif;
    
} 
.final{
  padding-bottom: 30px;  
} /* ultimo parágrafo*/
    
footer{
    
    background-color: #1A5C38;
    padding: 1px;
  align-content: center;
}/* Rodapé do site*/
footer > p{
    text-align: center;
    color: white;
   
}/* Rodapé do site*/
